# URL проекта из Supabase (Settings → API)
NEXT_PUBLIC_SUPABASE_URL=
# Публичный ключ (anon key)
NEXT_PUBLIC_SUPABASE_ANON_KEY=
# Приватный ключ (service_role) — НИКОМУ не показывать!
SUPABASE_SERVICE_ROLE_KEY=
